* {
    background-color: black;
    color: aliceblue;
    align-items: center;
}

.ref-icon {
    width: 48px;
    height: 48px;
}

.invert {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

.erased {
    text-decoration: line-through;
}

h2 {
    background-color: #32C8F4;
}

a {
    color: #32C8F4;
}

nav {
    margin-bottom: 5%;
}

footer {
    margin-top: 5%;
}